<header class="header navbar">

  <a class="navbar-brand" href="#" router='/'>
    <img src="/assets/images/car-logo.png" width="60" height="43" class="d-inline-block align-top main-logo"
      alt="Angular">
    <span>VRUUMM</span>
  </a>

  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li class="nav-item">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Carros</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Aluguéis</a>
    </li>
    <li class="nav-item pl-lg-5 li-button">
      <button (click)='logout()' class="btn btn-outline">Logout</button>
    </li>
  </ul>
</header>
