<header class="header navbar">

  <a class="navbar-brand" (click)='this.toHome()'>
    <img src="/assets/images/car-logo.png" width="60" height="43" class="d-inline-block align-top main-logo"
      alt="Angular">
    <span>VRUUMM</span>
  </a>

  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>

  <ul class="menu">

    <div class="actions">
      <mat-icon (click)="showAproveModal()" matTooltipPosition="left" matTooltip="Visualizar notificações"
        matTooltipClass="tooltip-white">notifications</mat-icon>
    </div>

    <li class="nav-item">
      <a class="nav-link" (click)='this.toHome()'>Home</a>
      <div *ngIf="this.isActive('home')" class="subline"></div>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)='this.toCars()'>Carros</a>
      <div *ngIf="this.isActive('cars')" class="subline"></div>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" (click)='this.toRents()'>Aluguéis</a>
      <div *ngIf="this.isActive('rents')" class="subline"></div>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" (click)='this.toProfile()'>Perfil</a>
      <div *ngIf="this.isActive('profile')" class="subline"></div>
    </li>
    <li class="nav-item pl-lg-5 li-button">
      <button (click)='logout()' class="btn btn-outline">Logout</button>
    </li>
  </ul>
</header>
