@import '../../../../variables.scss';

.navbar {
  box-shadow: 0px 4px 7px #b8114b9d;
  background: $primary;
  min-height: 12%;

  .navbar-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 5%;

    span {
      color: white;
      margin-left: 15%;
      font-weight: 800;
      font-size: 1.7rem;
    }
  }
}

.nav-item,
.nav-link {
  font-size: 1rem;
  color: white;

  &:hover {
    color: rgba(0, 0, 0, 0.671);
  }
}

.btn-outline {
  color: #fff;
  border-color: #fff;

  &:hover {
    color: $primary;
    background: white;
  }

  &:active {
    border: none !important;
  }
}
