.navbar {
  box-shadow: 0px 4px 7px #00000085;
}

.navbar-brand{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 5%;

  .main-logo {
    border-radius: 50%;
  }

  span {
    margin-left: 15%;
    font-weight: 800;
    font-size: 1.7rem;
    border-bottom: 1px solid #ffffff8c;
  }
}

