<section class="box-content">
  <mat-card class="container-form">

    <div class="top-form">

      <div class="top-icon">

        <mat-icon>perm_identity</mat-icon>

      </div>

      <div class="top-details">
        <span>João Marcos Loureço dos santos</span>
        <span>joão@gmail.com </span>
      </div>

    </div>

    <form>
      <div class="lines">
        <mat-form-field appearance="outline">
          <mat-label>Digite o seu nome... <span class="input-required">*</span></mat-label>
          <input name="modelo" matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Digite o seu email... <span class="input-required">*</span> </mat-label>
          <input name="marca" matInput>
        </mat-form-field>
      </div>


      <div class="lines">
        <mat-form-field appearance="outline">
          <mat-label>Digite seu cep ... <span class="input-required">*</span></mat-label>
          <input name="modelo" matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Marca <span class="input-required">*</span> </mat-label>
          <input name="marca" matInput>
        </mat-form-field>
      </div>

      <div class="lines">
        <mat-form-field appearance="outline">
          <mat-label>Modelo <span class="input-required">*</span></mat-label>
          <input name="modelo" matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Marca <span class="input-required">*</span> </mat-label>
          <input name="marca" matInput>
        </mat-form-field>
      </div>

    </form>

  </mat-card>
</section>
