@import "../../../../../../variables.scss";

section.box-content {
  width: 100%;
  height: 85%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-form {
  margin-top: 8%;

  width: 60%;
  min-height: 60%;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-shadow: 3px 3px 18px 6px rgb(0 0 0 / 20%);

  .top-form {
    width: 100%;
    height: 15%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .top-icon {
      width: 30%;
      height: 100%;

      display: flex;
      flex-direction: row;
      justify-content: center;

      mat-icon {
        font-size: 3rem !important;
      }
    }

    .top-details {
      width: 40%;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: end;

      font-size: 0.9rem;

      span:first-child {
        font-size: 1.2rem;
      }
    }
  }

  form {
    width: 100%;
    height: 84%;

    border-top: 2px;
    padding-top: 1%;

    border-top: 1px solid rgba(0, 0, 0, 0.329);

    .lines {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      mat-form-field {
        width: 45%;
      }
    }

    .tre-col {
      mat-form-field {
        width: 30%;
        margin-top: 2%;
      }
    }
  }
}

.divider {
  border-top: 1px solid rgba(0, 0, 0, 0.329);
}

.input-search {
  margin-top: 1%;
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  mat-form-field {
    width: 85% !important;
  }

  mat-icon {
    vertical-align: middle;
    margin-left: 5%;
    width: 10%;
    font-size: 1.5rem;

    cursor: pointer;

    &:hover {
      color: $primary;
    }
  }
}

.input-required {
  color: $primary;
}

div.actions {
  width: 100%;
  height: 10%;

  margin-top: 2%;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  font-weight: 500;

  span {
    border-radius: 20px;
    padding: 0.5% 2%;

    width: 20%;

    cursor: pointer;

    &:active {
      border: none !important;
    }

    &.confirm {
      color: #4caf50;
      border: 2px solid #4caf50;

      &:hover {
        color: white;
        background: #4caf50;
      }
    }
  }
}
