<section>
  <div class="header">
    <div class="header-title">{{this.isUpdate? 'Editar': 'Cadastar'}}</div>
    <mat-icon class="btn-close" mat-dialog-close >highlight_off</mat-icon>
  </div>
  <div class="body">
    <div class="toggle-box">
      <mat-slide-toggle [(ngModel)]="carEntity.disponibilidade" (change)="this.changeAvailability($event)">
        {{carEntity.disponibilidade? 'Disponível': 'Indisponível'}} </mat-slide-toggle>
    </div>
    <div class="main-box">
      <section class="side-avatar">
        <img [src]="this.getImage()">
      </section>
      <section class="side-form">
        <div class="box-line">

          <mat-form-field appearance="outline">
            <mat-label>Modelo <span class="input-required">*</span></mat-label>
            <input name="modelo" matInput [(ngModel)]="carEntity.modelo">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Marca <span class="input-required">*</span> </mat-label>
            <input name="marca" matInput [(ngModel)]="carEntity.marca">
          </mat-form-field>
        </div>

        <div class="box-line">

          <mat-form-field appearance="outline">
            <mat-label>Placa <span class="input-required">*</span></mat-label>
            <input name="placa" matInput [(ngModel)]="carEntity.placa">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Cor</mat-label>
            <input name="cor" matInput [(ngModel)]="carEntity.cor">
          </mat-form-field>
        </div>

        <div class="box-line">

          <mat-form-field appearance="outline">
            <mat-label>Número de assentos <span class="input-required">*</span></mat-label>
            <input name="acentos" matInput type="number" placeholder="Ex. 4" min="1" max="12"
              [(ngModel)]="carEntity.numeroDeAssentos">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Diária <span class="input-required">*</span></mat-label>
            <input currencyMask name="diaria" matInput [(ngModel)]="carEntity.precoDaDiaria">
          </mat-form-field>
        </div>
      </section>
    </div>

    <div class="details-box">
      <mat-form-field appearance="outline">
        <mat-label>Observações sobre o carro...</mat-label>
        <textarea name="descricao" matInput [(ngModel)]="carEntity.descricao"></textarea>
      </mat-form-field>

    </div>
  </div>
  <div class="actions">
    <span class="confirm" mat-button (click)="this.save()">Confirmar</span>
    <span class="cancel" mat-button mat-dialog-close>Cancelar</span>
  </div>
</section>
