<section class="box-content">

  <div class="totalizators">

    <div *ngFor="let item of this.dataTotalizators" class="totalizator {{item.color}}">

      <mat-icon class="filter-icon" matTooltipPosition="left" matTooltip="Filtrar" matTooltipClass="tooltip-white">
        filter_list
      </mat-icon>

      <div class="total">
        <span>
          {{item.value}}
        </span>
      </div>
      <div class="name">
        {{item.name}}
      </div>

    </div>

  </div>
  <div class="list-rents">

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">

        <!-- Weight Column -->
        <ng-container matColumnDef="period">
          <th mat-header-cell *matHeaderCellDef> Período </th>
          <td mat-cell *matCellDef="let element"> {{element.dataInicioReserva | date: 'dd/MM/yyyy'}} -
            {{element.dataFimReserva | date: 'dd/MM/yyyy'}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef> Valor do aluguel </th>
          <td mat-cell *matCellDef="let element"> {{element.precoTotal | currency}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="devolution">
          <th mat-header-cell *matHeaderCellDef> Data de devolução </th>
          <td mat-cell *matCellDef="let element"> {{(element.dataDevolucaoCarro | date : 'dd/MM/yyyy') || "-"}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status do aluguel </th>
          <td mat-cell *matCellDef="let element">
            <span class="{{getStatusColor(element)}}">{{ stateEnum[element.situacao] }} </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="user">
          <th mat-header-cell *matHeaderCellDef> Detalhes do Solicitante </th>
          <td mat-cell *matCellDef="let element">
            <mat-icon (click)="this.showUserDetails(element)" class="label-action color-vruumm"
              matTooltipPosition="above" matTooltip="Visualizar detalhes!" matTooltipClass="tooltip-vruumm">
              assignment_ind</mat-icon>
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="car">
          <th mat-header-cell *matHeaderCellDef> Detalhes do Carro </th>
          <td mat-cell *matCellDef="let element">
            <mat-icon (click)="this.showCarDetails(element)" class="label-action color-vruumm"
              matTooltipPosition="above" matTooltip="Visualizar detalhes!" matTooltipClass="tooltip-vruumm">
              directions_car_filled</mat-icon>
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Ações </th>
          <td mat-cell *matCellDef="let element">
            <div class="actions">
              <mat-icon (click)="this.aprove(element)"
                class="label-action {{this.enableAction(element) ? 'color-green' :'disabled-icon'}}"
                matTooltipPosition="above" matTooltip="Aceitar!" matTooltipClass="tooltip-green">check_circle
              </mat-icon>

              <mat-icon (click)="this.reprove(element)"
                class="label-action {{this.enableAction(element) ? 'color-red' :'disabled-icon'}}"
                matTooltipPosition="above" matTooltip="Reprovar!" matTooltipClass="tooltip-red">cancel
              </mat-icon>

              <mat-icon (click)="this.finish(element)"
                class="label-action {{this.enableActionRuning(element) ? 'color-green' :'disabled-icon'}}"
                matTooltipPosition="above" matTooltip="Finalizar!" matTooltipClass="tooltip-green">assignment_turned_in
              </mat-icon>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>

          <td class="mat-cell" colspan="8">

            <article class="box-empty">
              <img src="../../../../../../../assets/images/empty2.svg" alt="">
              <div> Não há dados, aguarde por novas solicitações...</div>
            </article>

          </td>

        </tr>

      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>


  </div>

</section>
