<section class="box-content">
  <mat-card class="filter">

    <div class="box-search">

      <div class="input-search">
        <input name="email" matInput placeholder="Digite a sua pesquisa...">
        <div matTooltipPosition="right" matTooltip="Clique aqui para consultar" matTooltipClass="tooltip-red">
          <mat-icon matSuffix>search</mat-icon>
        </div>
      </div>

    </div>

  </mat-card>

  <section class="box-list">
    <mat-card class="list-item" *ngFor="let car of this.cars">
      <div class="box-img">
        <img mat-card-image [src]="this.getImage(car.imagem)" alt="Photo of a Shiba Inu">
      </div>
      <mat-card-header>
        <mat-card-title>{{car.modelo}}</mat-card-title>
        <mat-card-subtitle>{{car.marca}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <mat-icon (click)="this.editCar(car)" matTooltipPosition="above" matTooltip="Clique aqui para editar"
          matTooltipClass="tooltip-red">edit</mat-icon>
        <mat-icon (click)="this.deleteCar(car)" matTooltipPosition="above" matTooltip="Clique aqui para deletar"
          matTooltipClass="tooltip-red">delete</mat-icon>
      </mat-card-actions>
    </mat-card>
  </section>
</section>

<button (click)="this.createCar()" class='float-add-button' mat-fab color="accent">+</button>
