@import "../../../../../../../variables.scss";

*:focus {
  outline: 0 !important;
}

section.box-content {
  width: 100%;
  height: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;

  mat-card.filter {
    box-shadow: none;
    border: none;

    margin-top: 2% !important;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;

    div.box-search {
      width: 100%;
      height: auto;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.input-search {
  border: 1.9px solid $primary;
  border-radius: 70px;
  width: 90%;
  height: 6vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5% 0% 0.5% 0%;

  input {
    padding: 1%;
    width: 90%;
    height: 100%;
    border: none !important;
    background: transparent;
  }

  div {
    width: 5%;
    height: 100%;
    padding: 0.7%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border-left: 1.95px solid $primary;

    color: #777777;
    cursor: pointer;

    &:hover {
      color: $primary;
    }
  }
}

section.box-list {
  width: 80%;
  height: auto;

  margin-top: 2% !important;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  mat-card.list-item {
    margin-right: 1.3%;

    div.box-img {
      cursor: pointer;

      border-radius: 15px;
      width: 100%;
      padding: 2% 2% 0% 2%;

      img {
        width: 18.5vw;
        height: 28vh;
      }
    }

    &:nth-child(4n-4) {
      margin-right: 0px !important;
    }

    margin-bottom: 2%;
    width: 24%;
    max-width: 24%;
    border-radius: 15px;
    box-shadow: 4px 3px 10px #d0004933;

    .mat-card-actions {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      border-top: 1.9px solid $primary;

      color: #777777;

      cursor: pointer;

      mat-icon {
        &:hover {
          color: $primary;
        }
      }
    }
  }
}

article.box-empty {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 80%;
  height: 85%;

  div {
    margin-left: 3%;
    margin-top: 10%;
    font-size: 2rem;
  }

  img {
    width: 25%;
  }
}

.float-add-button {
  background: $primary;
  font-size: 2rem;
  font-weight: 600;

  right: 50px;
  bottom: 50px;
  left: auto;
  position: fixed;
}

.flag-car {
  position: absolute;
  top: 24px;
  padding: 7px 7px 7px 14px;
  border-radius: 13px 0px 0px 13px;
  border-right: 0.2px solid rgba(0, 0, 0, 0.178);
  float: right;
  right: 0px;
  color: white;
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;

  span {
    margin-left: 6px;
  }
}

.flag-car-avaliable {
  background: green;
}

.flag-car-unavaliable {
  background: $primary;
}
