<section class="box-content">
  <mat-card class="filter">

    <div class="box-search">

      <div class="input-search">
        <input (keyup.enter)="this.populate($event)" name="email" [(ngModel)]="this.searchKey" matInput
          placeholder="Digite a sua pesquisa...">
        <div matTooltipPosition="right" matTooltip="Clique aqui para consultar" matTooltipClass="tooltip-red"
          (click)="this.populate()">
          <mat-icon matSuffix>search</mat-icon>
        </div>
      </div>

    </div>

  </mat-card>

  <section class="box-list" *ngIf="!this.isEmpty">
    <mat-card class="list-item" *ngFor="let car of this.cars">

      <div class=" flag-car {{ car.disponibilidade ? 'flag-car-avaliable': 'flag-car-unavaliable'}}">
        <mat-icon> {{ car.disponibilidade ? 'check_circle': 'do_disturb_on'}} </mat-icon>
        <span>{{ car.disponibilidade ? 'Disponível': ''}}</span>
      </div>

      <div class="box-img">
        <img mat-card-image [src]="this.getImage(car.imagem)" alt="Photo of a Shiba Inu">
      </div>
      <mat-card-header>
        <mat-card-title>{{car.modelo}}</mat-card-title>
        <mat-card-subtitle>{{car.marca}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>

        <div class="box-reinted" *ngIf='car.atualmenteAlugado'>
          <span>Alugado</span>
        </div>

        <div class="box-actions" *ngIf='!car.atualmenteAlugado'>
          <mat-icon (click)="this.editCar(car)" matTooltipPosition="above" matTooltip="Clique aqui para editar"
            matTooltipClass="tooltip-vruumm">edit</mat-icon>
          <mat-icon (click)="this.deleteCar(car)" matTooltipPosition="above" matTooltip="Clique aqui para deletar"
            matTooltipClass="tooltip-vruumm">delete</mat-icon>
        </div>
      </mat-card-actions>
    </mat-card>
  </section>

  <article class="box-empty" *ngIf="this.isEmpty">
    <img src="../../../../../../../assets/images/empty.svg" alt="">
    <div> Não há dados, cadastre aqui seus carros...</div>
  </article>
</section>

<button (click)="this.createCar()" class='float-add-button' mat-fab color="accent">+</button>
