@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "variables";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/scss/bootstrap.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

//////////////////////
/// SCROLL STYLE
//////////////////////

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  -webkit-border-radius: 16px;
}

::-webkit-scrollbar-track-piece {
  background-color: #c5cae9;
  -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: #9e9e9e;
  -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: #9e9e9e;
  -webkit-border-radius: 3px;
}

//////////////////////
/// TABS STYLE
//////////////////////

.mat-tab-header {
  border-bottom: none;
}

.mat-tab-label {
  color: White;
  opacity: 1 !important;
  min-width: 60px !important;
  font-weight: bold;
  font-size: 1.25rem;
}

.mat-tab-group.mat-primary .mat-ink-bar {
  background-color: White !important;
  height: 3px;
  border-radius: 55px 55px;
}

.mat-tab-group {
  height: 100%;
}

.mat-tab-body-wrapper {
  flex-grow: 1;
}

.mat-tab-body {
  display: flex !important;
  flex-direction: column;
}

.mat-tab-body-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

//////////////////////
/// FORM FIELD STYLE
//////////////////////
.input-icon {
  background-color: white !important;
  border-radius: 50px;
  width: 90%;
  height: 9%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2%;

  margin-bottom: 5%;

  input {
    width: 85%;
    height: 90%;
    border: none;
    background: transparent;
  }

  mat-icon.cliclable {
    cursor: pointer;
  }
}

//////////////////////
/// TOAST STYLE
//////////////////////

.toast-container .ngx-toastr {
  box-shadow: 0 0 12px #040404bf !important;
}

.snack-success {
  font-weight: 700;
  color: white !important;
  background-color: #0cb05b !important;
  .mat-simple-snackbar-action {
    color: white !important;
  }
}

.snack-error {
  font-weight: 700;
  color: white !important;
  background-color: #c20c36 !important;
  .mat-simple-snackbar-action {
    color: white !important;
  }
}

.snack-warn {
  font-weight: 700;
  color: white !important;
  background-color: #ea8d16 !important;
  .mat-simple-snackbar-action {
    color: white !important;
  }
}

//////////////////////
/// TOOLTIP STYLE
//////////////////////
.tooltip-red {
  background-color: $primary;
  color: white;
  font-weight: 500;
  font-size: 0.7rem;
}

.tooltip-white {
  background-color: white;
  color:  rgba(0, 0, 0, 0.541) !important;
  font-weight: 500;
  font-size: 0.7rem;
}

//////////////////////
/// MODAL STYLE
//////////////////////
.mat-dialog-container {
  padding: 20px 25px 15px 25px !important;
  border-radius: 25px !important;
}

.cdk-overlay-dark-backdrop {
  background: rgb(0 0 0 / 67%) !important;
}

//////////////////////
/// TOGGLE STYLE
//////////////////////
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: $primary;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: $primary;
}

.mat-progress-bar-fill::after {
  background-color: $primary;
}

.mat-progress-bar-buffer {
  background-color: #f0f0f0;
}

*:focus {
  outline: 0 !important;
}
