<main>
  <section class="box-image">
    <div>
      <img src="../../../../../assets/images/car-logo.png" alt="Logo do site vruumm">
    </div>
  </section>

  <section>

    <mat-tab-group>
      <mat-tab label="Login">

        <form class="box-form" (ngSubmit)="auth()">


          <div class="input-icon">
            <input name="email" matInput placeholder="Digite o seu email" [(ngModel)]="email">
            <mat-icon matSuffix>email</mat-icon>
          </div>


          <div class="input-icon">
            <input [type]="passwordHide ? 'password' : 'text'" name="pass" matInput placeholder="Digite a sua senha"
              [(ngModel)]="pass">
            <mat-icon class="cliclable" matSuffix (click)="passwordHide = !passwordHide">
              {{passwordHide ? 'visibility_off' :'visibility'}}
            </mat-icon>
          </div>

          <div class="box-button">
            <button type="submit" class="btn-submit" (click)="auth()">ENTRAR</button>
          </div>

        </form>

      </mat-tab>
      <mat-tab label="Cadastro">

        <form class="box-form">

          <div class="input-icon">
            <input name="register-name" type="text" matInput placeholder="Digite o seu nome"
              [(ngModel)]="newUser.nomeUsuario">
            <mat-icon matSuffix>person</mat-icon>
          </div>

          <div class="input-icon">
            <input name="register-email" class="rounded-input" matInput placeholder="Digite o seu email"
              [(ngModel)]="newUser.emailUsuario">
            <mat-icon matSuffix>email</mat-icon>
          </div>

          <div class="input-icon">
            <input [type]="passwordHide ? 'password' : 'text'" name="register-pass" class="rounded-input" matInput
              placeholder="Digite a sua senha" [(ngModel)]="newUser.senhaUsuario">
            <mat-icon class="cliclable" matSuffix (click)="passwordHide = !passwordHide">
              {{passwordHide ? 'visibility_off' :'visibility'}}
            </mat-icon>
          </div>

          <div class="input-icon">
            <input [type]="passwordHide ? 'password' : 'text'" name="register-confirm" class="rounded-input" matInput
              placeholder="Confirme a sua senha" [(ngModel)]="confirmNewPass">

              <mat-icon matSuffix></mat-icon>
          </div>

          <div class="box-button">
            <button type="submit" class="btn-submit" (click)="register()">CADASTRAR</button>
          </div>

        </form>

      </mat-tab>
    </mat-tab-group>

  </section>

</main>
