<main>
  <section class="box-image">
    <div>
      <img src="../../../../../assets/images/car-logo.png" alt="Logo do site vruumm">
    </div>
  </section>

  <section>

    <mat-tab-group>
      <mat-tab label="Login">

        <div class="box-form">

          <input class="rounded-input" matInput placeholder="Digite o seu email:" required>
          <input class="rounded-input" matInput placeholder="Digite a sua senha:" required>

          <div class="box-button">
            <div class="btn-submit">ENTRAR</div>
          </div>

        </div>

      </mat-tab>
      <mat-tab label="Cadastro">

        <div class="box-form">

          <input class="rounded-input" matInput placeholder="Digite o seu nome:" required>
          <input class="rounded-input" matInput placeholder="Digite o seu email:" required>
          <input class="rounded-input" matInput placeholder="Digite a sua senha:" required>
          <input class="rounded-input" matInput placeholder="Confirme a sua senha:" required>

          <div class="box-button">
            <div class="btn-submit">CADASTRAR</div>
          </div>

        </div>

      </mat-tab>
    </mat-tab-group>

  </section>

</main>
